.vs/
*.vs
*.obj
*.cache
*.editorconfig
/Research_Software_Dev/.vs/
/Research_Software_Dev/.vs/Research_Software_Dev/v17
/Research_Software_Dev/Research_Software_Dev/.vs/
/Research_Software_Dev/Research_Software_Dev/obj/
/Research_Software_Dev/obj/
/Research_Software_Dev/Research_Software_Dev/bin/
/Research_Software_Dev/Research_Software_Dev/obj/Research_Software_Dev.csproj.nuget.g.props
