.Research_Software_Dev/vs/
.Research_Software_Dev/obj/
/Research_Software_Dev/.vs/Research_Software_Dev/FileContentIndex
/Research_Software_Dev/Research_Software_Dev/obj/Debug
/Research_Software_Dev/Research_Software_Dev/obj/Debug/net8.0/Research_Software_Dev.GeneratedMSBuildEditorConfig.editorconfig
/Research_Software_Dev/Research_Software_Dev/obj/Debug/net8.0/Research_Software_Dev.csproj.AssemblyReference.cache
/Research_Software_Dev/Research_Software_Dev/obj/Debug/net8.0/Research_Software_Dev.AssemblyInfoInputs.cache
/Research_Software_Dev/Research_Software_Dev/obj/Debug/net8.0/Research_Software_Dev.AssemblyInfo.cs
