@page
@model Research_Software_Dev.Pages.Forms.SelectParticipantModel
@{
    ViewData["Title"] = "Select Participant";
}

<h1>Select Participant</h1>

<form method="post">
    <div class="form-group mb-2">
        <label asp-for="ParticipantId">Participant</label>
        <select asp-for="ParticipantId" class="form-control" required>
            <option value="">-- Select a Participant --</option>
            @foreach (var participant in Model.Participants)
            {
                <option value="@participant.ParticipantId">
                    @($"{participant.ParticipantFirstName} {participant.ParticipantLastName}")
                </option>
            }
        </select>
        <span asp-validation-for="ParticipantId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-outline-primary">Next</button>
</form>
