@page
@model IndexModel
@using Research_Software_Dev.Models.Researchers
@using Research_Software_Dev.Models.Studies
@using System.Net.Http.Json
@inject UserManager<Researcher> UserManager
@inject IHttpClientFactory HttpClientFactory

@{
    ViewData["Title"] = "MHRA - Home";

    //gets the current user
    var currentUser = UserManager.GetUserAsync(User).Result;
    bool isUser = currentUser != null;

    //initializing variables
    List<Study> studies = Model.Study;
}

<div class="text-center">
    @{
        if (isUser)
        {
            <h1 class="display-4">Welcome @currentUser.ResearcherFirstName @currentUser.ResearcherLastName</h1>
            <p>Your Studies:</p>
            if (studies == null || !studies.Any())
            {
                <p>No studies available.</p>
            }
            else
            {
                if (studies.Count > 3)
                {
                    studies = studies.Take(3).ToList();
                }
                <ul>
                    @foreach (var item in studies)
                    {
                        <li>
                            <p>Name: @Html.DisplayFor(modelItem => item.StudyName)</p>
                            <p>Desc: @Html.DisplayFor(modelItem => item.StudyDescription)</p>
                        </li>
                    }
                </ul>
                <a asp-page="/Studies/Index">...</a>
            }
        }
        else
        {
            <p>Please Sign In.</p>
        }
    }
</div>