@page
@model Research_Software_Dev.Pages.NotFoundModel

@{
    ViewData["Title"] = "Page Not Found";
}

<h1>@ViewData["Title"]</h1>

<p>Sorry, the page you're looking for could not be found. Please check the URL and try again.</p>

<p><a href="@Url.Page("/Index")">Back to Home</a></p>