@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We are commited to keeping your data as a researcher and the data of your participants safe.</p>
<br />
<p>The core tenent of this application is to be a secure environment with heavy locks on any unauthorized access.</p>
