@page "{formId}"
@model Research_Software_Dev.Pages.Forms.AddQuestionModel
@{
    ViewData["Title"] = "Add Question";
}

<h1>Add Question</h1>

<form method="post">
    <input type="hidden" asp-for="FormId" />
    <input type="hidden" asp-for="Question.FormId" value="@Model.FormId" />
    <div class="form-group">
        <label asp-for="Question.QuestionDescription">Question Description</label>
        <input type="text" asp-for="Question.QuestionDescription" class="form-control" />
        <span asp-validation-for="Question.QuestionDescription" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Question.QuestionNumber">Page Number</label>
        <input type="number" asp-for="Question.QuestionNumber" class="form-control" />
        <span asp-validation-for="Question.QuestionNumber" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-page="./Edit" asp-route-id="@Model.FormId" class="btn btn-secondary">Cancel</a>
</form>
