@page
@model Research_Software_Dev.Pages.Forms.CreateModel
@{
    ViewData["Title"] = "Create Form";
}

<h1>Create a New Form</h1>

<form method="post">
    <input type="hidden" asp-for="Form.FormId" />

    <!-- Form Name -->
    <div class="form-group">
        <label asp-for="Form.FormName" class="control-label">Form Name</label>
        <input asp-for="Form.FormName" class="form-control" />
        <span asp-validation-for="Form.FormName" class="text-danger"></span>
    </div>

    <hr />
    <button type="submit" class="btn btn-success">Create Form</button>
    <a asp-page="./Index" class="btn btn-secondary">Cancel</a>
</form>
