@page "{formId}/{questionId}"
@model Research_Software_Dev.Pages.Forms.DeleteQuestionModel
@{
    ViewData["Title"] = "Delete Question";
}

<h1>Delete Question</h1>

<p>Are you sure you want to delete this question?</p>
<hr />

<div class="form-group">
    <label>Question:</label>
    <p>@Model.QuestionDescription</p>
</div>

<form method="post">
    <input type="hidden" name="formId" value="@Model.FormId" />
    <input type="hidden" name="questionId" value="@Model.QuestionId" />
    <div class="mt-2">
        <button type="submit" class="btn btn-danger">Delete</button> | 
        <a asp-page="./Edit" asp-route-id="@Model.FormId" class="btn btn-outline-dark">Cancel</a>
    </div>
</form>